<!-- <ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>User Details</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <div class="profile">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets\profile.png">
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" value="Shrijeet Yeole" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contact</ion-label>
      <ion-input type="tel" value="9421583395" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" value="yeoleshrijeet@gmail.com" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Department</ion-label>
      <ion-input type="text" value="MCA" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Year of Studying</ion-label>
      <ion-input type="text" value="1st" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Blood Group</ion-label>
      <ion-input type="text" value="B+" readonly></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content> -->
