<body>
    <ion-content>
        <div class="card">
            <div class="card-body">
                <div class="company-logo">
                    <img src="assets\jpmc.jpeg" alt="Company Logo">
                </div>
                <p class="company-details">JPMC</p>
                <p class="company-details">JPMorgan Chase & Co. is an American multinational financial services company
                    headquartered in New York City and incorporated in Delaware. It is the largest bank in the United
                    States
                    and the world's largest bank by market capitalization.</p>
                <p class="company-location">Mumbai, Pune</p>
                <p class="company-salary">12LPA</p>
                <div class="profile-links">
                    <a href="https://www.jpmorganchase.com/" class="link">Website</a>
                    <a href="https://www.linkedin.com/company/jpmorgan" class="link">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="company-logo">
                    <img src="assets\nomura.jpeg" alt="Company Logo">
                </div>
                <p class="company-details">Nomura</p>
                <p class="company-details">Nomura is a global financial services group with an integrated network
                    spanning over 30 countries and regions. By connecting markets East & West, we service the needs of
                    individuals, institutions, corporates and governments through our three business divisions: Retail,
                    Investment Management and Wholesale (Global Markets and Investment Banking).</p>
                <p class="company-location">Mumbai, Pune ,Noida</p>
                <p class="company-salary">16LPA</p>
                <div class="profile-links">
                    <a href="https://www.nomuraholdings.com/company/outline/" class="link">Website</a>
                    <a href="https://www.linkedin.com/company/nomura" class="link">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="company-logo">
                    <img src="assets\msci.png" alt="Company Logo">
                </div>
                <p class="company-details">MSCI</p>
                <p class="company-details">MSCI Inc. is an American finance company headquartered in New York City. MSCI
                    is a global provider of equity, fixed income, real estate indexes, multi-asset portfolio analysis
                    tools, ESG and climate products.</p>
                <p class="company-location">Mumbai, Banglore</p>
                <p class="company-salary">22LPA</p>
                <div class="profile-links">
                    <a href="https://www.msci.com/" class="link">Website</a>
                    <a href="https://www.linkedin.com/company/msci-inc?original_referer=https%3A%2F%2Fwww.google.com%2F"
                        class="link">LinkedIn</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="company-logo">
                    <img src="assets\del.png" alt="Company Logo">
                </div>
                <p class="company-details">Deloitte</p>
                <p class="company-details">Deloitte Touche Tohmatsu Limited, commonly referred to as Deloitte, is an
                    international professional services network headquartered in London, England.</p>
                <p class="company-location">Mumbai, Pune</p>
                <p class="company-salary">8LPA</p>
                <div class="profile-links">
                    <a href="https://www2.deloitte.com/us/en.html" class="link">Website</a>
                    <a href="https://www.linkedin.com/company/deloitte?original_referer=https%3A%2F%2Fwww.google.com%2F" class="link">LinkedIn</a>
                </div>
            </div>
        </div>
    </ion-content>
</body>