<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Highlights</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="calendar-number-outline"></ion-icon>
      <ion-label>Company</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="clipboard"></ion-icon>
      <ion-label>FeedBack</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
