<ion-content>

  <!--  -->


  <!--  -->
  <!-- <header class="site-header">
    <div class="site-identity">
      <a href="#"><img src="https://pbs.twimg.com/profile_images/1149882090986471424/kKdzdttS_400x400.jpg" alt="Site Name" /></a>
      <h1 class="h1"><a href="#">Sardar Patel Institute Of Technology</a></h1>
    </div>  
  </header> -->
  <ion-card>
    <div class="polaroid">
      <img alt="Silhouette of mountains" src="assets\tpo.png" />
      <div class="container">
        <p>Welcome to </p>
        <p>Training & Placement Office (S.P.I.T)</p>
      </div>
    </div>
    <ion-card-content>
      Sardar Patel Institute of Technology continues to be ranked among the top colleges attracting the brightest
      students across the state as well as the country. We at S.P.I.T. are working to build enthusiastic engineers
      always willing to take up challenges as opportunities and apply their knowledge to tackle it. </ion-card-content>
    <ion-card-content>
      Regardless of the global pandemic and severe constraints that have been caused because of it, the placement drive
      of
      2022-23 saw the best outcome in the course of recent years, with exceptionally renowned organizations coming
      forward to hire. This could be achieved due to the elevated level of readiness and responsibility shown by the
      students. The elite, as well as super-dream offers, witnessed a significant growth this year. The statistics
      speaks for itself: </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="vision">About Us</ion-card-title>
    </ion-card-header>
    <img src="assets\tpo1.png" alt="">
    <ion-card-content>
      The Training & Placement Cell caters to the industrial training needs of students and provides placement services
      to students through campus interviews. Many multinational and well-known Indian conglomerates regularly visit our
      campus every year for their requirement of high calibre human resources.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="mission">Course of Action</ion-card-title>
    </ion-card-header>
    <img src="assets\tpo4.png" alt="">
    <ion-card-content>
      The Training & Placement Office motivates and prepares students for the interviews and prospective workplaces.
      Careful and systematic preparation is initiated and sustained for this purpose. The training and placement cell
      takes pride in offering student services like a consultation on a wide range of issues such as employment, career
      planning, opportunities available, etc. Thereby preparing students effectively for their career.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title class="t">Gallary</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="slides slowFade">
        <div class="slide">
          <img
            src="assets\tpo.png" alt="img" />
        </div>
        <div class="slide">
          <img src="assets\tpo1.png" alt="img" />
        </div>
        <div class="slide">
          <img src="assets\tpo2.png" alt="img" />
        </div>
        <div class="slide">
          <img src="assets\tpo3.png" alt="img" />
        </div>
      </div>
    </ion-card-content>
  </ion-card>




  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title class="alumni">Alumni Testimonials</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="300" height="195" src="https://www.youtube.com/embed/JTYmRLno0Is">
      </iframe>
      <ion-card-subtitle>
        Sachin Gadagi<br>
        2014 - 2017<br>
        Software Engineer at JP Morgan Chase
      </ion-card-subtitle>
    </ion-card-content>
    <ion-card-content>
      <iframe width="300" height="195" src="https://www.youtube.com/embed/aeZSDK_UAdU">
      </iframe>
      <ion-card-subtitle>
        Sachin Gadagi<br>
        2014 - 2017<br>
        Software Engineer at JP Morgan Chase
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card> -->

  <!-- <h3>Find Us</h3>
  <a
    href="https://www.google.com/maps?ll=19.126789,72.836131&z=15&t=m&hl=en&gl=US&mapclient=embed&cid=1596119649840934506"><img
      src="assets\map.png"></a> -->